@use '../variables' as *;
@use '../templates/' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family-primary;
  color: $color-black;
  @extend %text-base;
}
section {
  margin-bottom: 8rem;
}
