$color-white: #fff;
$color-black: #232536;
$color-yellow: #ffd050;
$color-purple: #592ea9;
$color-dark-grey: #4c4c4c;
$color-medium-grey: #6d6e76;
$color-light-grey: #f4f4f4;
$color-lavender: #f4f0f8;
$color-light-yellow: #fbf6ea;
$color-dark-yellow: #edc14a;
